<div class="row">
    <!-- NEWS WIDGET -->
    <div class="col" *ngFor="let activite of listActivites">

        <div class="panel panel-default">                            
            <div class="panel-body panel-body-image">
                <img height="65px" src="assets/images/aiwa.jpg" alt="Aiwa"/>
            </div>
            <div class="panel-body">
                <h3>---</h3>
                <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
            </div>
        </div>

    </div>
</div>