<div class="login-container">
        
    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="login-title"><strong>Welcome</strong>, Please login</div>

            <form class="form-horizontal"(ngSubmit)="onSubmit(login)" #login="ngForm">
            <div class="form-group">
                <div class="col-md-12">
                    <input type="text" name="email" class="form-control" placeholder="Username" required ngModel/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="password" name="mdp" class="form-control" placeholder="Password" required ngModel/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-info btn-block" type="submit">Log In</button>
                </div>
            </div>
            </form>

        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2014 AppName
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>
    
</div>