<div class="row">
    <!-- NEWS WIDGET -->
    <div class="col-md-4">

        <div class="panel panel-default" *ngFor="let association of listAssociation">                            
            <div class="panel-body panel-body-image">
                <img src="assets/images/aiwa.jpg" alt="Aiwa"/>
                <a href="#" class="panel-body-inform">
                    <span class="fa fa-heart-o"></span>
                </a>
            </div>
            <div class="panel-body">
                <h3>Association {{association.nom}} &mdash; <b>{{association.activites.length}}</b> Activités organisé</h3>
                <p>{{association.description}}.</p>
            </div>
        </div>
    
    </div>
    <!--<div class="col-md-4">

                                <div class="panel panel-default">                            
                                    <div class="panel-body panel-body-image">
                                        <img height="165px" src="assets/images/alamal.png" alt="Aiwa"/>
                                        <a href="#" class="panel-body-inform">
                                            <span class="fa fa-heart-o"></span>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <h3>Association Al Amal &mdash; <b>5</b> Activités organisé</h3>
                                        <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
                                    </div>
                                </div>
    
                            </div>
                            <div class="col-md-4">

                                <div class="panel panel-default">                            
                                    <div class="panel-body panel-body-image">
                                        <img height="165px" src="assets/images/osraty.jpg" alt="Aiwa"/>
                                        <a href="#" class="panel-body-inform">
                                            <span class="fa fa-heart-o"></span>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <h3>Association Osraty &mdash; <b>15</b> Activités organisé</h3>
                                        <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
                                    </div>
                                </div>
    
                            </div>
                            
                            <div class="col-md-4">

                                <div class="panel panel-default">                            
                                    <div class="panel-body panel-body-image">
                                        <img height="165px" src="assets/images/fourmiliere.png" alt="Aiwa"/>
                                        <a href="#" class="panel-body-inform">
                                            <span class="fa fa-heart-o"></span>
                                        </a>
                                    </div>
                                    <div class="panel-body">
                                        <h3>Association La fourmiliére &mdash; <b>35</b> Activités organisé</h3>
                                        <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
                                    </div>
                                </div>
    
                            </div>
                            
                            <!-- END NEWS WIDGET -->
</div>