<div class="row">
        <div class="col-md-12">
            
            <form class="form-horizontal">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Ajouter une</strong> Récompense</h3>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">                                                                        
                    
                    <div class="row">
                        
                        <div class="col-md-6">
                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">Titre</label>
                                <div class="col-md-9">                                            
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                        <input type="text" class="form-control"/>
                                    </div>                                            
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">Description</label>
                                <div class="col-md-9 col-xs-12">                                            
                                    <textarea class="form-control" rows="5"></textarea>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group">                                        
                                <label class="col-md-3 control-label">Date</label>
                                <div class="col-md-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                        <input type="text" class="form-control datepicker" value="2014-11-01">                                            
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                    <label class="col-md-3 control-label">Score</label>
                                    <div class="col-md-9">                                            
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                                            <input type="text" class="form-control"/>
                                        </div>                                            
                                    </div>
                                </div>
                        </div>
                        
                    </div>

                </div>
                <div class="panel-footer">
                    <button class="btn btn-default">Vider le formulaire</button>                                    
                    <button class="btn btn-primary pull-right">Ajouter</button>
                </div>
            </div>
            </form>
            
        </div>
    </div>    