<div class="row">
    <!-- NEWS WIDGET -->
    <div class="col-sm-10 center ">

        <div class="panel panel-default">                            
            <div class="panel-body panel-body-image">
                <img  height="165px" src="assets/images/Cover-Twitter.jpg" alt="Aiwa"/>
            </div>
            <div class="panel-body">
                <h3>Association Aiwa &mdash; <b>Rendons notre ville propre</b></h3>
                <p>On Earth, an ocean is one of the major conventional divisions of the World Ocean, which occupies two-thirds of the planet's surface.</p>
                <button class="btn btn-success" type="button">Valider</button>
                <button class="btn btn-danger" type="button">Refuser</button>
            </div>
        </div>

    </div>
    <div class="col-md-10 center">

            <div class="panel panel-default">                            
                <div class="panel-body panel-body-image">
                    <img  height="165px" src="assets/images/sport.jpg" alt="Aiwa"/>
                </div>
                <div class="panel-body">
                    <h3>Association Sportive &mdash; <b>Journée sportive solidaire au profit de CAP48</b></h3>
                    <p>La journée sportive solidaire c’est le 7 septembre au complexe sportif d’Evere, avenue des Anciens Combattants 300.</p>
                    <button class="btn btn-success" type="button">Valider</button>
                    <button class="btn btn-danger" type="button">Refuser</button>
                </div>
            </div>
    
        </div>

        <div class="col-md-10 center">

            <div class="panel panel-default">                            
                <div class="panel-body panel-body-image">
                    <img  height="165px" src="assets/images/africaweek.jpg" alt="Aiwa"/>
                </div>
                <div class="panel-body">
                    <h3>Association Sportive &mdash; <b>Journée sportive solidaire au profit de CAP48</b></h3>
                    <p>La journée sportive solidaire c’est le 7 septembre au complexe sportif d’Evere, avenue des Anciens Combattants 300.</p>
                    <button class="btn btn-success" type="button">Valider</button>
                    <button class="btn btn-danger" type="button">Refuser</button>
                </div>
            </div>
    
        </div>
</div>